<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Movie Recommender</title>
        <link rel="stylesheet" th:href="@{/css/movie.css}">
    </head>
    <body>
        <div class="container">
            <div class="selected" th:with="movie = ${movie}">
                <img th:src="${movie.getCompressedJPG()}" width="200px" height="300px"/>
                <h2 th:text="${movie.getTitle()}"></h2>
                <br><br>
                <h4 th:text="${movie.getReleaseDate()}"></h4>
                <br>
                <p th:text="${movie.getDescription()}"></p>
                <form method="POST" th:action="@{'/card?movie=' + ${movie.getId()}}">
                    <input type="submit" value="Add to favourites">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                </form>
                <a th:href="@{'/movies?page='+${movie.getId() / 31}}"><h3>Back to Page</h3></a>
            </div>
        </div>
    </body>
</html>