<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Movie Recommender</title>    
    </head>
    <body>
        <div class="container">
            <div class="home">
                <h1>Find YOUR taste in movies</h1>
                <a th:href="@{'/movies?page=0'}">Enter Catalog</a>
                <br><br>
                <a th:href="@{'/register'}">Register Account</a>
                <br>
                <a th:href="@{'/login'}">Sign Up</a>
            </div>
        </div>
    </body>
</html>