<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Movie Recommender</title>    
    </head>
    <body>
        <h1>Sign up</h1>
        <form method="POST" th:action="@{/register}" id="registerForm">

            <label for="realname">Name: </label>
            <input type="text" name="realname" id="realname"><br>
            
            <label for="email">Email: </label>
            <input type="text" name="email" id="email"><br>

            <label for="username">Username: </label>
            <input type="text" name="username" id="username"><br>

            <label for="password">Password: </label>
            <input type="password" name="password" id="password"><br>

            <label for="confirm">Confirm Password: </label>
            <input type="password" name="confirm" id="confirm"><br>

            <input type="submit" value="Register">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        </form>
    </body>
</html>