services:
  client:
    build:
      context: client
      dockerfile: Dockerfile
    depends_on:
      - server
    ports:
      - "5173:5000"
    volumes:
      - ./client:/app/client
      - /app/client/node_modules
    develop:
      watch:
        - path: ./client/package.json
          action: rebuild
        - path: ./client/package-lock.json
          action: rebuild
        - path: ./client/eslint.config.js
          action: rebuild
        - path: ./client
          target: /app/client
          action: sync
  
  server:
    build:
      context: server
      dockerfile: Dockerfile
    volumes:
      - ./server:/app/server
    ports:
      - "8080:3000"



