<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Movie Recommender</title>
        <link rel="stylesheet" th:href="@{/css/movie.css}">
    </head>
    <body>
        <div class="container">
            <h1 th:text="${user}"></h1>
            <div class="recommendations" th:unless="${favourites} == null">
                <h2>Movies closest to your rating preference are</h2>
                <div class="recommendation" th:each="movie: ${recommendations}">
                    <img th:attr="src=${movie.getCompressedJPG()},title=${movie.getTitle()},alt=${movie.getTitle()}" width="200px" height="300px">
                    <br>
                    <h5 th:text="${movie.getTitle()}"></h5>
                    <p th:text="${movie.getReleaseDate()}"></p>
                    <br>
                    <p th:text="${movie.getRating()}"></p>
                </div>
            </div>
        </div>
    </body>
</html>