body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.control {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-around;
}

.control a {
    text-decoration: none;
    color: black;
}


.catalog {
    display: inline-flex;
    flex-wrap: wrap;
    grid-gap: 1.5em
}

.movie {
    display: block;
    margin: 0 auto;
    padding: 2%;
    width: 250px;
}