.container-fluid{
    width: 100%;
    height: 100%;
    text-align: center;
}

#header{
    position: relative;
    display: block;
    width: 100%;
    padding: 10%;
}

#header h1{
    position: relative;
    display: block;
}

#button{
    position: relative;
    display: flex;
    justify-content: center;
}

#button *{
    padding: 1% 3% 1% 3%;
    color: white;
    text-decoration: none;
    background-color: green;
    border-radius: 20px;
    font-size: 20px;
    transition: ease-in 0.125s;
}

#button *:hover{
    background-color: darkgreen;
}

#account{
    display: flex;
    padding: 1%;
    justify-content: space-evenly;
    justify-items: center;
}